[Unit]
Description=Jelly-Kodi Sync web UI service
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
Environment=PATH=%h/.local/share/mise/shims:/usr/local/bin:/usr/bin:/bin
ExecStart=%h/git/jelly_kodi_sync/bin/sync_jelly_kodi_web

[Install]
WantedBy=default.target
